.progress-container{
  height:40px;
  position: relative;
  margin-top: 3rem;
}
.progress-tube{
  width:90%;
  height:5px;
  background-color: white;
  margin: auto;
  border-radius:15px ;
  position: relative;
}
.progress-tube-color{
  background-color: purple;
  height:5px;
  z-index: 1;
}
.point {
  background-color: white;
  border-radius: 50%;
  height: 27px;
  width: 27px;
  position: absolute; /* Position the circle relative to the tube */
  top: -10px; /* Move the circle upwards */
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-weight: bold;
}
.one {
  left: 0%; /* Position at the start (left) of the tube */
}

.five {
  left: 29%; /* Position at 25% of the tube */
}

.ten {
  left: 60%; /* Position at 50% (center) of the tube */
}

.fifteen {
  left: 88%; /* Position at 75% of the tube */
}
.potion{
  position: absolute;
  display: flex; 
  align-items: center; 
  color: white;
}
.potion1 {
  top: -30px;
  left:0px

}

.potion1 img {
  width: 1rem;
  margin-right: 0.3rem;
}

.potion-text {
  font-size: 1rem; 
}
.potion2 {
  top: -33px;
  left:0px

}

.potion2 img {
  width: 1.1rem;
  margin-right: 0.3rem; 
}


.potion3 {
  top: -36px;
  left:0px

}

.potion3 img {
  width: 1.2rem;
  margin-right: 0.3rem; 
}


.potion4 {
  top: -39px;
  left:0px
}

.potion4 img {
  width: 1.3rem;
  margin-right: 0.3rem; 
}


