.friends-invited-container{
    background-color: rgba(39, 39, 39, 0.2); 
    width: 80%;
    margin: auto;
    height:550px;
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius:15px ;
    padding: 0.5rem;
}/* For Chrome, Edge, and Safari */
.friends-invited-container::-webkit-scrollbar {
    width: 8px; /* Adjust the width of the scrollbar */
}

.friends-invited-container::-webkit-scrollbar-track {
    background: transparent; /* Transparent track */
}

.friends-invited-container::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0); /* Transparent thumb */
    border-radius: 10px;
}

/* For Firefox */
.friends-invited-container {
    scrollbar-width: thin; /* Thin scrollbar */
    scrollbar-color: transparent transparent; /* Transparent thumb and track */
}
.refer-desc{
    margin: auto;
    text-align: center;

}
.shards-earned-container{
    background-color: rgba(39, 39, 39, 0.2); 
    width: 80%;
    margin: auto;
    padding: 0.5rem;
    margin-top: 1rem;
    border-radius: 15px;
    text-align: center;
}
.shards-earned-container img{
    height:4rem;
}
.connect-wallet {
    background-color: #030105 !important;
    text-transform: none !important;
    padding: 1rem !important;
    width: 50% !important; 
    max-width: 50%; 
}
.claim-btn {
    background-color: #030105 !important;
    text-transform: none !important;
    padding: 0.5rem !important;
    width: 50% !important; 
    max-width: 50%; 
    color: white !important;
}
.claim-btn .bigBtn{
    font-size: 1.2rem !important;

}
.claim-btn .smallBtn{
    font-size: 0.8rem !important;
    font-family: "Marcellus", serif !important;

}
.friends-box{
    display: flex;
    flex-direction: row;
}
.avatar-container {
    position: relative;
    width: fit-content; /* Adjust to the size of the content */
  }
  
  .border-img {
    display: block;
    width: 5.5rem; 
    height:7rem
  }
  
  .avatar-img {
    position: absolute;
    top: 36%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the avatar */
    width: 3.5rem; /* Adjust the size of the avatar as needed */
  }
  