/* Global config */

body{
  width: 100%; /* Adjust to the screen width */
  max-width: 360px; /* Set a max width for mobile screens */
  height: auto; /* Maintain aspect ratio */
  min-height: 640px; /* Ensure minimum height */
  box-sizing: border-box; /* Include padding and borders in the element's total width and height */
  background-color: #0e0417;
  margin: auto;
}
.text{
  font-family: "Marcellus", serif !important;
  color: white !important;
}
.navbar-main{
  position: fixed;
  bottom: 0;
  width: 350px;
  margin:auto;
  text-align: center;
}
.large{
  font-size:2rem;
}
.noLH{
  line-height: 0.3;
}
.small{
  font-size: 0.8rem;
}